.sidebar-list-button {
  height: 95px;
  background-color: #F2F2F2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  position: relative;
  right: -1px;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.after, .before {
  position: absolute;
  width: 20%;
  height: 21%;
  right: 0;
  background-color: #F2F2F2;
}
.after {
  top: -20%;
}
.before {
  top: 99%;  
}
.after::after, .before::before {
  position: absolute;
  content: "";
  background-color: #313030;
  width: 100%;
  height: 100%;
  left: -1px;
}
.after::after {
  border-bottom-right-radius: 15px;
  top: -1px;
}
.before::before {
  border-top-right-radius: 15px;
  top: 1px;
}
.sidebar-list__btn {
  width: 70%;
  height: 70%;
  background: linear-gradient(to bottom right, #FEC163, #DE4313);
  border-radius: 15px;
}