.restaurant-container__card {
  background: #313030;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  cursor: pointer;
}
.card-list-item-img {
  width: 90%;
  height: 60%;
}
.restaurant_container__card-naming {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 800;
  user-select: none;
  padding: 0 0 30px 0;
}
.restaurant_container__card-discription {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.restaurant_container__card-discription p{
  font-size: 16px;
  font-weight: 600;
}
.restaurant_container_card__discription-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.restaurant_container_card__discription-price{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.restaurant_container__card-discription p, .card-list-item-title{
  margin-top: 10px;
}
.restaurant-card-icon-items {
  display: flex;
  width: 20%;
}
.restaurant-card-icon-items img{
  margin-right: 3px;
}
@media (max-width: 1280px) {
  .restaurant_container__card-discription p {
    font-size: 14px;
  }
}