.header {
  width: 100%;
  height: 140px;
  margin: 30px 0 20px 0;
  background-color: #F2F2F2;
}

.header-filters-title {
  font-weight: 400;
  font-size: 36px;
}

.header-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
  max-width: 48.6%;
}

@media (max-width: 1600px) {
  .header {
    height: 150px;
    margin: 10px 0 20px 0;
  }

  .header-form {
    max-width: 65.5%;
  }

  .header-filters {
    margin-top: 30px;
  }

}

@media (max-width: 1100px) {
  .header-form {
    max-width: 99.45%;
  }
}

@media (max-width: 600px) {
  .header {
    margin: 30px 0;
  }

  .header-filters-title {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .header {
    margin: 15px 0 30px 0;
  }
}

@media (max-width: 425px) {
  .header {
    margin: 20px 0 30px 0;
  }

  .header-filters-title {
    font-size: 32px;
  }
}

@media (max-width: 370px) {
  .header {
    margin: 20px 0 20px 0;
  }

  .header-filters-title {
    font-size: 26px;
  }
}