h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'PT Sans', sans-serif;
}

.header {
  width: 100%;
  height: 170px;
  margin-top: 30px;
  background-color: #F2F2F2;
}

.change__city {
  display: flex;
  justify-content: end;
  height: 0px;
}

.change__city-container {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.change__city-container img {
  padding-left: 24px;
  cursor: pointer;
}

.header__wrapper {
  margin-top: 45px;
}

.title h1 {
  font-weight: 400;
  font-size: 36px;
}
.header-form-search-panel{
  display: flex;
  justify-content: space-between;
}
.header-form-search-panel__container {
  width: 835px;
  height: 60px;
  background-color: #313030;
  border-radius: 15px;
  display: flex;
  align-items: center;
  color: #989797;
}
.header-form-search-panel__container input{
  background-color: #313030;
  border: none;
  width: 770px;
  height: 55px;
  border-radius: 15px;
}
.header-form-search-panel__container img {
  padding: 0px 10px 0px 25px;
}
.header-filtration__button {
  width: 60px;
  height: 60px;
  background-color: #313030;
  border: none;
  border-radius: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.header-filtration__button:hover {
  background-color: #ED7D38; 
}
