.main p{
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.main {
  height: 80vh;
  margin-top: 10px;
  overflow: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 5px; 
  background-color: #F2F2F2;
}
::-webkit-scrollbar-thumb {
  background-color: #313030;
  border-radius: 10px;
}