.main p{
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.main {
  height: 80vh;
  margin-top: 10px;
  overflow-y: scroll;
}
.main::-webkit-scrollbar {
  width: 5px; 
  background-color: #F2F2F2;
}
.main::-webkit-scrollbar-thumb {
  background-color: #F2F2F2;
  border-radius: 10px;
}
@media (max-height: 2160px) { .main {height: 90vh;} }
@media (max-height: 1915px) { .main {height: 87vh;} }
@media (max-height: 1570px) { .main {height: 85vh;} }
@media (max-height: 1340px) { .main {height: 83vh;} }
@media (max-height: 1170px) { .main {height: 80vh;} }
@media (max-height: 990px) { .main {height: 75vh;} }
@media (max-height: 800px) { .main {height: 72vh;} }
@media (max-height: 750px) { .main {height: 70vh;} }
@media (max-height: 690px) { .main {height: 66vh;} }
@media (max-height: 630px) { .main {height: 62vh;} }
@media (max-height: 540px) { .main {height: 55vh;} }
@media (max-height: 460px) { .main {height: 50vh;} }