.restaurant-container-map {
    width: 49%;
}

.restaurant-location-map {
    border-radius: 15px;
    width: 100%; 
    max-height: 50%;
    display: flex;
    align-items: center;
}
.restaurant-location-map  img{
    width: 100%; 
}