.header-form-filter-panel {
  width: 60px;
  height: 60px;
  background-color: #313030;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}