.header-form-filter-panel {
  width: 75px;
  height: 60px;
  background-color: #313030;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-form-filter-panel img {
  width: 40%;
}

@media (max-width: 1600px) {
  .header-form-filter-panel {
    width: 60px;
    height: 50px;
  }
}

@media (max-width: 425px) {
  .header-form-filter-panel {
    width: 60px;
    height: 50px;
  }
}

@media (max-width: 375px) {
  .header-form-filter-panel {
    border-radius: 10px;
    margin-left: 5px;
  }
}