.header-select-city {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.header-select-city img {
  padding-left: 14px;
}

.header-select-city_dropdown-menu {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}

@media (max-width: 375px) {
  .header-select-city p {
    font-size: 14px;
  }

  .header-select-city img {
    padding-left: 5px;
  }
}