.header-select-city {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  position: relative;
}
.header-select-city_dropdown-menu {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.header-select-city_dropdown-menu img {
  padding-left: 15px;
}
@media (max-width: 375px) {
  .header-select-city p {
    font-size: 14px;
  }

  .header-select-city img {
    padding-left: 5px;
  }
}