.main-card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2.5%;
  grid-row-gap: 35px;
  margin-top: 20px;
}
@media (max-width: 1600px) {
  .main-card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1100px) {
  .main-card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 769px) {
  .main-card-list {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 15px;
  }
}