.header-form-search-panel {
  height: 60px;
  width: 100%;
  padding-left: 50px;
  display: flex;
}

.header-form-search-panel img {
  width: 60%;
}

.search-panel {
  width: 100%;
  border: none;
  background-color: #313030;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-size: 18px;
  padding-left: 20px;
  color: #f2f2f2;
  outline: none;
  /* outline-color: #f2f2f2; */
}

.button-search {
  background-color: #313030;
  width: 60px;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1600px) {
  .header-form-search-panel {
    padding-left: 20px;
    height: 50px;
  }
  .button-search {
    width: 50px;
  }
}
@media (max-width: 600px) {
  .button-search {
    display: none;
  }
  .search-panel {
    border-radius: 13px;
  }
}