.header-form-search-panel {
  width: 100%;
  padding-left: 50px;
  display: flex;
}

.header-form-search-panel img {
  width: 60%;
}

.search-panel {
  width: 100%;
  border: none;
  background-color: #313030;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-size: 18px;
  padding-left: 20px;
  color: #f2f2f2;
  outline: none;
}

.button-search {
  background-color: #313030;
  width: 60px;
  height: 60px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  cursor: pointer;
  outline-color: #f2f2f2;
}

@media (max-width: 1600px) {
  .header-form-search-panel {
    padding-left: 20px;
  }
  
  .button-search {
    height: 50px;
    width: 50px;
  }
}